[submodule "bitswap-peer"]
	path = bitswap-peer
	url = https://github.com/elastic-ipfs/bitswap-peer
[submodule "bitswap-peer-deployment"]
	path = bitswap-peer-deployment
	url = git@github.com:elastic-ipfs/bitswap-peer-deployment.git
[submodule "indexer-lambda"]
	path = indexer-lambda
	url = https://github.com/elastic-ipfs/indexer-lambda
[submodule "publisher-lambda"]
	path = publisher-lambda
	url = https://github.com/elastic-ipfs/publisher-lambda
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/elastic-ipfs/infrastructure
[submodule "bucket-to-indexer-lambda"]
	path = bucket-to-indexer-lambda
	url = https://github.com/elastic-ipfs/bucket-to-indexer
[submodule "side-indexer-lambda"]
	path = side-indexer-lambda
	url = git@github.com:elastic-ipfs/side-indexer-lambda.git
